mixin _bookBlockHorizontal()
	.bookBlockHorizontal
		img(src="%=staticPrefix=%images/content/_bookBlockHorizontal.jpg" alt="").bookBlockHorizontal__img
		.bookBlockHorizontal__content
			a(href="#" title="").bookBlockHorizontal__link Гибкий график катастроф
			span.bookBlockHorizontal__author Хемингуэй Эрнест
			span.bookBlockHorizontal__downloaded 10562 раз
