mixin genresListMain(data)
	section.genresListMain
		.title Жанры
		.genresListMain__columns
			ul.genresListMain__list
				- for(var i = 0; i < data.length; i++) {
					li.genresListMain__item
						a(href="#" title="") #{data[i]}
				- }
