mixin menu()
	nav.menu#menu
		a(href="#" title="").menu__item.menu__item--main Главная
		a(href="#" title="").menu__item.menu__item--novelty Новинки
		a(href="#" title="").menu__item.menu__item--popular Популярные
		a(href="#" title="").menu__item.menu__item--authors Авторы
		a(href="#" title="").menu__item.menu__item--genres Жанры
		a(href="#" title="").menu__item.menu__item--books-az Книги А-Я
		a(href="#" title="").menu__item.menu__item--audiobooks.menu__item--last-child Аудиокниги
