.vk-comments {
	width: 100%;
	margin-top: 30px;

	background-color: #fff;

	font-family: Arial;
	&__title {
		position: relative;

		padding: 7px 10px;

		color: #fff;
		background-color: #5b7fa6;

		font-size: em(13px);
		&:after {
			top: 6px;
			right: 6px;

			@include bg($icon-vk);
			@include content;
		}
	}
	&__form {
		padding: 7px;

		background-color: #f7f7f7;
		&__avatar {
			display: inline-block;

			width: 8%;

			vertical-align: top;
		}
		&__textarea {
			display: inline-block;

			box-sizing: border-box;
			width: 90%;

			vertical-align: top;;
			textarea {
				width: 99%;
				min-height: 50px;
				padding: 7px;

				border: 1px solid #c0cad5;

				font-size: em(14px);
			}
			input[type="submit"] {
				width: 96px;
				height: 27px;
				margin-top: 5px;

				color: #fff;
				border: 0;
				background: linear-gradient(to bottom, #6d8fb3, #507296);

				font-size: em(13px);
			}
		}
	}
	&__user {
		padding: 10px 8px;
		&__avatar {
			display: inline-block;

			width: 8%;

			vertical-align: top;
		}
		&__body {
			display: inline-block;

			width: 90%;

			vertical-align: top;
		}
		&__name {
			padding-top: 3px;
			padding-bottom: 7px;

			color: #507296;

			font-size: em(14px);
			font-weight: 700;
		}
		&__text {
			padding-bottom: 7px;

			color: #333;

			font-size: em(14px);
			line-height: em(18px, 14px);
		}
		&__meta {
			&__time {
				color: #999;

				font-size: em(14px);
				&:after {
					padding: 0 5px;

					content: "|";

					font-size: em(14px);
				}
			}
			&__answer {
				text-decoration: none;

				color: #507296;

				font-size: em(14px);
			}
		}
	}
}
