mixin _ratingBig()
	.rating.rating-big#rating
		ul.rating__container
			li.rating__item.rating__item-full
			li.rating__item.rating__item-full
			li.rating__item.rating__item-full
			li.rating__item.rating__item-half
			li.rating__item
