.books-a-z {
	&__search {
		@extend .authors__search;
		&:before {
			background: none;
		}
	}
	&__a-z {
		margin-left: 3px;
	}
	&__list {
		border: 1px dashed #ccc;
		background: #f6f5f4;
	}
}

.books-a-z-item {
	display: flex;

	padding: 15px;

	border-bottom: 1px solid #e6e5e4;

	align-items: center;
	justify-content: space-between;
	&__img {
		display: flex;

		align-items: center;
		justify-content: space-between;
		img {
			margin-right: 15px;
		}
	}
}
