mixin genres-content()
	section.genres-content
		h1.title.genres-content__title Жанры

		ul.genres-content-list
			li.genres-content-list__item 
				a(href="#" title="") Художественная литература

				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Современная литература
				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Контркультура

			li.genres-content-list__item 
				a(href="#" title="") Боевик

			li.genres-content-list__item 
				a(href="#" title="") Фантастика

				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Фантастика
					
				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Научная Фантастика

				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Боевая фантастика

				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Альтернативная история

				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Юмористическая фантастика

			li.genres-content-list__item 
				a(href="#" title="") Художественная литература

				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Современная литература
				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Контркультура

			li.genres-content-list__item 
				a(href="#" title="") Художественная литература

				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Современная литература
				li.genres-content-list__item.genres-content-list__item--inside
					a(href="#" title="") Контркультура