mixin registration()
	section.registration
		.registration__title Регистрация
		.registration__info Чтобы подключить доступ к Подписке на контент, заполните следующую форму:
		.registration__form
			.registration__form__label Номер телефона
			.registration__form__input
				input(type="text" value="").form__element.form__element--registration
				span Например +7989965465
			.registration__form__label Стоимость услуги
			.registration__form__check
				input(type="checkbox")
				span Мне уже исполнилось 18 лет и согласен с Правилами предоставления подписки на Контент
		.registration__license
			textarea(disabled) Лицензионное соглашение (Россия)
				|Настоящий документ «Лицензионное соглашение на использование программных продуктов и/или онлайн-сервисов 2ГИС» представляет собой предложение Общества с ограниченной ответственностью «ДубльГИС» (далее — «Правообладатель») заключить соглашение на изложенных ниже условиях.
				|Перед использованием программных продуктов и/или онлайн-сервисов 2ГИС, пожалуйста, ознакомьтесь с условиями настоящего лицензионного соглашения.

				|1. Общие положения

				|1.1. Пользуясь программными продуктами и/или онлайн-сервисами 2ГИС, Вы соглашаетесь с тем, что:

				|а) Вы ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Программных продуктов и/или Онлайн-сервисов 2ГИС.

				|б) Начало использования Вами Программных продуктов и/или Онлайн-сервисов 2ГИС в любой форме означает, что Вы принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с Вашей стороны. Использование программных продуктов и/или Онлайн-сервисов 2ГИС на иных условиях не допускается.

				|в) Если Вы не согласны с условиями настоящего Соглашения или не имеете права на его заключение, Вам следует незамедлительно прекратить любое использование Программных продуктов и/или Онлайн-сервисов 2ГИС.

				|г) Соглашение (в том числе любая из его частей) может быть изменено Правообладателем без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Правообладателя, если иное не предусмотрено новой редакцией Соглашения.

				|1.2. Во всем, что не предусмотрено настоящим Соглашением, отношения в связи с использованием Онлайн-сервисов 2ГИС регулируются Соглашением об использовании сервисов 2ГИС (http://law.2gis.ru/rules), а также Политикой конфиденциальности (http://law.2gis.ru/privacy).

				|1.3. Используемые в настоящем Лицензионном соглашении слова и выражения имеют следующие значения, если иное прямо не определено далее по тексту:
		input(type="submit" value="Продолжить").btn-download.registration__submit
