mixin _bookBlockVertical(data)
	.bookBlockVertical(class="#{data}")
		img(src="%=staticPrefix=%images/content/_bookBlockVertical-img.jpg" alt="").bookBlockVertical__img
		+_ratingBig()
		a(href="#" title="").bookBlockVertical__link Гибкий график катастроф
		span.bookBlockVertical__author Хемингуэй Эрнест
		a(href="#" title="").btn-download.btn-download--small.bookBlockVertical__btn Скачать
		span.bookBlockVertical__downloaded Скачано: 10562 раз

