mixin booksFormat()
	section.format
		.books-format
			.format__title.books-format__title Книги в форматах
			ul.books-format__list
				li.books-format__item fb2
				li.books-format__item docx
				li.books-format__item pdf
				li.books-format__item epub
				li.books-format__item odt
				li.books-format__item djvu
				li.books-format__item txt
				li.books-format__item doc
				li.books-format__item jar
				li.books-format__item rtf
				li.books-format__item html
		.support-devices
			.format__title.support-devices__title Поддержка устройств
			.support-devices__item
