mixin header()
	header.header
		a(href="#" title="Литературный мир").header__logo
		.header__search
			form(method="" action="").form
				input(type="search" value="" placeholder="Хемингуэй Эрнест").form__element.form__element--search-header
				input(type="submit" value="").form__submit.form__submit--search-header
		.header__login
			a(href="#" title="") Вход
			span /
			a(href="#" title="") Регистрация
